<div class="menu">
    <p> MENU</p>
    <div class="burger" (click)="onBurgerClick()">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
</div>
<div class="ui vertical fluid tabular menu" style="margin-top: 0px;">
    <a 
    class="item selected" 
    style="padding-bottom: 2em; display: flex;padding-left: 0px; margin-top: 0px !important;"
    (click)="onSelectSingle(singleLink,multipleLink )"
    #singleLink>
        <i class="th list icon" style="margin-right: 1em;"></i>
     <span style="font-weight: bold;">Liste de graphes</span>
    </a>
    <a 
    class="item" 
    style="padding-bottom: 2em; display: flex;padding-left: 0px;"
    (click)="onSelectMultiple(singleLink,multipleLink)"
    #multipleLink>
        <i class="th icon" style="margin-right: 1em;"></i>
     <span style="font-weight: bold;">Composition de graphes</span>
    </a>
</div>


