<div class="app">
  <nav>
    <div class="logo">
        <img src="https://www.ewalia.com/wa_images/logo_ewalia.png" style="width: 100px;"/>
    </div>
    <div class="ui icon input" style="width: 83%;">
      <input type="text" placeholder="Chercher..." style="border-left: 0px !important;">
      <i class="search icon"></i>
    </div>
  </nav>
  <main class="mainContainer">
    <div class="leftContainer">
        <app-side-nav></app-side-nav>
    </div>
    <div class="rightContainer">
      <router-outlet></router-outlet>
    </div>

  </main>
</div>