
    <div class="edit-icons">
  
          <div class="animated slideInDown" style="margin-left: 5%; animation-duration: 2s">
            <div class="animated flash delay-2s fast">
              <button class="massive circular ui  basic icon button" style="margin-bottom: 40%;">
                  <i class="icon edit outline"></i>
                </button>
          <button class="massive circular ui  basic icon button">
              <i class="icon times"></i>
            </button>
          </div>
          </div>
    </div>
